# ROS1
build/
devel/
logs/

# ROS2
install/
log/

# catkin tools
.catkin_tools/

# python caches
__pycache__/

#vscode config
.vscode/

#Generated MPC Code
main/src/vtr_path_planning/include/vtr_path_planning/mpc/mpc_solver.hpp
main/src/vtr_path_planning/src/mpc/mpc_solver.cpp
