[submodule "steam"]
	path = main/src/deps/steam
	url = git@github.com:utiasASRL/steam.git
	branch = master
[submodule "lgmath"]
	path = main/src/deps/lgmath
	url = https://github.com/utiasASRL/lgmath.git
	branch = master
[submodule "main/src/deps/spinning-radar-doppler"]
	path = main/src/deps/spinning-radar-doppler
	url = git@github.com:utiasASRL/spinning-radar-doppler.git
