<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

	<!-- Included URDF/XACRO Files -->
  <xacro:include filename="$(find grizzly_description)/urdf/add_frame.urdf.xacro" />

  <!-- Gimbal Base -->
  <xacro:grizzly_tf parent="sensor_anchor_link" name="m600_base"
    translateX=".559" translateY=".22" translateZ=".33"
    rotateX="0.0" rotateY="0.0" rotateZ="0.0"/>
</robot>

<!-- previous : translateX="0.0739" translateY="0" translateZ="0.8735" -->
