<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

	<!-- Included URDF/XACRO Files -->
  <xacro:include filename="$(find grizzly_description)/urdf/add_frame.urdf.xacro" />

  <!-- Rear XB3 -->
  <xacro:grizzly_tf parent="sensor_anchor_link" name="rear_xb3"
    translateX="-0.38" translateY="-0.12" translateZ="0.83"
    rotateX="-1.9478" rotateY="0.0" rotateZ="1.57"/>
</robot>
