<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

	<!-- Included URDF/XACRO Files -->
  <xacro:include filename="$(find grizzly_description)/urdf/add_frame.urdf.xacro" />

  <!-- Microstrain IMU -->
  <xacro:grizzly_tf parent="sensor_anchor_link" name="microstrain"
    translateX="-0.2314" translateY="0" translateZ="0.8881"
    rotateX="0.0" rotateY="0.0" rotateZ="0.0"/>
</robot>
