<?xml version="1.0"?>

<!--
 Unpublished Work Copyright 2019 Waymo LLC. All rights reserved.
 Waymo Proprietary and Confidential - Contains Trade Secrets
-->

<!--
    Example of launching two HC lidars in parallel.

    The first lidar is publishing its point cloud to the topic /hc1, while
    the second lidar publishes to /hc2. In this example one lidar is mounted
    upside-down on top of the other.  You can override the transforms for the
    lidars by setting the environment variables HC1_TRANSFORM and HC2_TRANSFORM.

    You can override the IP addresses assigned to the lidars by setting the
    'ip_address1' and 'ip_address2' arguments.  If both lidars are on the same
    subnet, you will need to also specify 'mac_address1' and 'mac_address2'.
-->

<launch>
  <arg name="ip_address1" default="192.168.190.56" />
  <arg name="mac_address1" default="" />

  <arg name="ip_address2" default="192.168.190.57" />
  <arg name="mac_address2" default="" />

  <node pkg="tf" type="static_transform_publisher" name="world_to_hc1" args="$(optenv HC1_TRANSFORM 0 0 1 0 0 0 world hc1 100)" />

  <node name="hc1" pkg="hc" type="hc_node">
    <param name="hostname" value="$(arg ip_address1)"/>
    <param name="mac_address" value="$(arg mac_address1)"/>
    <param name="frame_id" value="hc1"/>
    <remap from="points" to="points1" />
  </node>

  <node pkg="tf" type="static_transform_publisher" name="world_to_hc2" args="$(optenv HC2_TRANSFORM 0 0 1.1 0 0 3.14 world hc2 100)" />

  <node name="hc2" pkg="hc" type="hc_node">
    <param name="hostname" value="$(arg ip_address2)"/>
    <param name="mac_address" value="$(arg mac_address2)"/>
    <param name="frame_id" value="hc2"/>
    <remap from="points" to="points2" />
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find hc)/rviz/dual_hc.rviz"/>

  <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure"/>
</launch>
