<?xml version="1.0"?>

<!--
 Unpublished Work Copyright 2019 Waymo LLC. All rights reserved.
 Waymo Proprietary and Confidential - Contains Trade Secrets
-->

<!--
    Example of launching a single HC lidar with dynamic reconfiguration GUI

    This launch file starts the lidar driver, rviz, rqt_reconfigure, and a
    static transform publisher to place the lidar 1m above the "world"
    origin. You can override the transforms by setting the environment
    variable HC_TRANSFORM.

    You may pass additional args to the HC node by setting the environment
    variable HC_ARGS.
-->

<launch>
  <node pkg="tf" type="static_transform_publisher" name="world_to_hc" args="$(optenv HC_TRANSFORM 0 0 1 0 0 0 world hc 100)" />
  <node name="hc" pkg="hc" type="hc_node" args="$(optenv HC_ARGS)" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find hc)/rviz/hc.rviz"/>
  <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure"/>
</launch>
