<?xml version="1.0" encoding="utf-8"?>
<launch>
  
  <!-- Gamepad -->
  <!--include file="$(find gamepad_control)/launch/gamepad_mid_js1.xml" /-->
  <!-- Joy node -->
  <node respawn="true" pkg="joy" type="joy_node" name="xbox_joy" >
    <remap from="joy" to="/xbox_joy"/>
    <param name="dev" type="string" value="/dev/input/js1" />
    <param name="deadzone" value="0.2" />
    <param name="autorepeat_rate" type="double" value="20.0" />
    <param name="coalesce_interval" value="0.1" />
  </node>

  <!-- Gamepad -->
  <node pkg="asrl__robots__gamepad_control" type="gamepad_control_node" name="gamepad_control">
    <remap from="/joy" to="/xbox_joy"/>
    <remap from="gamepad_control/out/twist" to="/cmd_vel"/>  
    <param name="axis_linear_forward" value="4" type="int"/>
    <param name="axis_linear_reverse" value="5" type="int"/>
    <param name="deadman_button" value="0" type="int"/>
    <param name="axis_angular" value="0" type="int"/>
    <param name="scale_linear" value="0.5" type="double"/>
    <param name="scale_angular" value="1.0" type="double"/>
    <param name="~/base/linear_max_speed_meters_per_second" value="2.0"/>
    <param name="~/base/angular_max_speed_rads_per_second" value="2.0"/>
    <param name="~/base/linear_to_angular_velocity_ratio_minimum" value="0.0"/>
  </node>

  <!-- Ambience (beacon, beep, headlight, taillight) -->
  <include file="$(find asrl__vehicle_safety__grizzly_ambience)/launch/grizzly_ambience.launch"/>

  <!-- Diagnostics logging -->
  <node pkg="asrl__grizzly" type="diagnostic_bags.sh" name="asrl__grizzly__diagnostic_bags"/>

</launch>
