<?xml version="1.0" encoding="utf-8"?>
<launch>
	<!-- Load the Grizzly description from xacro -->

	<param name="robot_description"
		command="$(find xacro)/xacro '$(find asrl__grizzly)/urdf/grizzly_utias.urdf.xacro'" />

	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
		<param name="publish_frequency" type="double" value="20.0" />
	</node>

	<node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" />

</launch>
