.leaflet-container {
  width: 100vw;
  height: 100vh;
}

body {
  background: #fafafa;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
}