<launch>

  <!-- joy node -->
  <node respawn="true" pkg="joy" type="joy" name="joy" >
    	<param name="dev" type="string" value="/dev/input/js0" />
    	<param name="deadzone" value="0.2" />
    	<param name="autorepeat_rate" type="double" value="10.0" />
    	<param name="coalesce_interval" value="0.1" />
  </node>

  <!-- gamepad -->
  <node pkg="gamepad_control" type="gamepad_control_node" name="gamepad_control" output="screen">
  		<remap from="gamepad_control/in_joy" to="joy"/>
		<remap from="gamepad_control/out/twist" to="cmd_vel"/>
    	<param name="axis_linear_forward" value="4" type="int"/>
    	<param name="axis_linear_reverse" value="5" type="int"/>
    	<param name="deadman_button" value="0" type="int"/>
    	<param name="axis_angular" value="0" type="int"/>
    	<param name="scale_linear" value="0.1" type="double"/>
    	<param name="scale_angular" value="0.75" type="double"/>
  </node>

  <!-- turtlebot node (for iRobot Create / Roomba) -->
  <node pkg="turtlebot_node" type="turtlebot_node.py" name="roomba">
		<param name="port" value="/dev/ttyUSB0" type="string"/>
		<param name="update_rate" value="30.0" type="double"/>
		<param name="stop_motors_on_bump" value="true" type="bool"/>
		<param name="cmd_vel_timeout" value="0.5" type="double"/>
		<param name="odom_linear_scale_correction" value="1.0" type="double"/>
		<param name="odom_angular_scale_correction" value="1.0" type="double"/>
  </node> 

  <!-- iRobotCreateOdometry node for obtaining delta pose -->
  <node pkg="asrl_iRobotCreate" type="iRobotCreateOdometry" name="delta_pose_processor" output="screen"/>

</launch>

