<?xml version="1.0" encoding="utf-8"?>
<launch>
  <arg name="robot_type" default="grizzly"/>
  <arg name="scenario_params" default="2016_sudbury"/>
  <arg name="planner_type" default="distance"/>
  <arg name="location" default="ethier"/>
  <arg name="data_dir" default=""/>
  <arg name="override_data_dir" default="false"/>

  <include file="$(find vtr_navigation)/launch/navigator.launch">
    <arg name="scenario_params" value="$(arg scenario_params)"/>
    <arg name="robot_type" value="$(arg robot_type)"/>
    <arg name="planner_type" value="$(arg planner_type)"/>
    <arg name="location" value="$(arg location)"/>
    <arg name="data_dir" value="$(arg data_dir)"/>
    <arg name="override_data_dir" value="$(arg override_data_dir)"/>
  </include>

  <include file="$(find babelfish_robochunk_translator)/launch/translator.launch"/>

  <include file="$(find asrl__interface)/launch/Recorder.launch"/>

  <include file="$(find asrl__grizzly)/launch/grizzly_utias_description.launch"/>

</launch>
