<?xml version="1.0" encoding="utf-8"?>
<launch>

  <!-- Joy node -->
  <node pkg="joy" exec="joy_node" name="xbox_joy">
    <remap from="joy" to="/xbox_joy"/>
    <param name="dev" value="/dev/input/js0" />
    <param name="deadzone" value="0.2" />
    <param name="autorepeat_rate" value="20.0" />
    <param name="coalesce_interval" value="0.1" />
  </node>

  <!-- Gamepad -->
  <node pkg="asrl__gamepad_control" exec="gamepad_control_node" name="gamepad_control">
    <remap from="/joy" to="/xbox_joy"/>
    <remap from="/out/twist" to="/grizzly_velocity_controller/cmd_vel"/>
    <param name="axis_linear_forward" value="5"/>
    <param name="axis_linear_reverse" value="2"/>
    <param name="deadman_button" value="0"/>
    <param name="axis_angular" value="0"/>
    <param name="scale_linear" value="1.0"/>
    <param name="scale_angular" value="1.0"/>
    <param name="~/base/linear_max_speed_meters_per_second" value="1"/>
    <param name="~/base/angular_max_speed_rads_per_second" value="1"/>
    <param name="~/base/linear_to_angular_velocity_ratio_minimum" value="0.0"/>
  </node>

</launch>
