<?xml version="1.0" encoding="utf-8"?>
<launch>
  <!--Feature Types: orb, surf-->
  <arg name="feature_type" default="surf"/>
  <!--Run and data params-->
  <arg name="scenario_params" default="module_loc_grizzly_$(arg feature_type)"/>
  <!-- Debug mode-->
  <arg name="debug" default="false"/>
  
  <!-- use the module_vo launch file-->
  <include file="$(find asrl__offline_tools)/launch/module_loc.launch">
    <!--Feature Types: orb, surf-->
    <arg name="feature_type" value="$(arg feature_type)"/>
    <!--Robot Types: grizzly, trex, lancaster-->
    <arg name="robot_type" default="grizzly"/>
    <!--Run and data params-->
    <arg name="scenario_params" value="$(arg scenario_params)"/>
    <!--Debug mode-->
    <arg name="debug" value="$(arg debug)"/>
  </include>
  
  <!-- Include the robot description -->
  <include file="$(find asrl__grizzly)/launch/grizzly_utias_description.launch"/>
  
  <!-- Launch the binary unless we are in debug mode -->
  <node  pkg="asrl__offline_tools" type="ModuleLoc" name="module_loc" output="screen" unless="$(arg debug)"/>
</launch>
