<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

	<!-- Included URDF/XACRO Files -->
  <xacro:include filename="$(find grizzly_description)/urdf/add_frame.urdf.xacro" />

  <!-- Front Bumblebee -->
  <xacro:grizzly_tf parent="sensor_anchor_link" name="front_bumblebee"
    translateX="0.7715" translateY="0" translateZ="0.0633"
    rotateX="-2.27" rotateY="0.0" rotateZ="-1.570796"/>
</robot>
