<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

	<!-- Included URDF/XACRO Files -->
  <xacro:include filename="$(find grizzly_description)/urdf/add_frame.urdf.xacro" />

  <!-- Rear Bumblebee -->
  <xacro:grizzly_tf parent="sensor_anchor_link" name="rear_bumblebee"
    translateX="-0.8915" translateY="0" translateZ="0.0287"
    rotateX="0.0" rotateY="0.0" rotateZ="3.1415926"/>
</robot>
