<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="grizzly_utias">

	<!-- Included URDF/XACRO Files -->
  <xacro:include filename="$(find grizzly_description)/urdf/add_frame.urdf.xacro" />

  <!-- Left LIDAR -->
  <xacro:grizzly_tf parent="sensor_anchor_link" name="left_lidar"
    translateX="-0.0445" translateY="0.1587" translateZ="0.8188"
    rotateX="-1.5707963" rotateY="0.0" rotateZ="1.5707963"/>
</robot>
