name: VTR Docker CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Maximize build space
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: 25000
          swap-size-mb: 2048
          remove-dotnet: "true"
          remove-android: "true"
          remove-codeql: "true"
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Pull the Docker image
        run: docker pull utiasasrl/vtr3:latest
      - name: run container
        run: docker run -td --name vtr3 --privileged -v `pwd`:/home/asrl/vtr3:rw utiasasrl/vtr3:latest
      - name: colcon build
        run: docker exec -w /home/asrl/vtr3/main vtr3 bash -c "source
          /opt/ros/humble/setup.sh && colcon build --symlink-install
          --cmake-args -DCMAKE_BUILD_TYPE=Release"
