name: Update nvidia Dockerfile

on:
  push:
    branches:
      - main
    paths:
      - 'Dockerfile' # Only push if the Dockerfile changes
  pull_request:
    branches:
      - main
    paths:
      - 'Dockerfile' # Only push if the Dockerfile changes

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Maximize build space
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: 25000
          swap-size-mb: 2048
          remove-dotnet: "true"
          remove-android: "true"
          remove-codeql: "true"
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: ${{ github.event_name != 'pull_request' }}
          tags: utiasasrl/vtr3:latest